"*":
  "atom-beautify":
    bash:
      beautify_on_save: true
    c:
      beautify_on_save: true
      configPath: "~/.atom/package-configs/atom-beautify/uncrustify.conf"
    cpp:
      beautify_on_save: true
      configPath: "~/.atom/package-configs/atom-beautify/uncrustify.conf"
    css:
      beautify_on_save: true
      end_with_newline: true
      indent_size: 2
      preserve_newlines: true
    erlang:
      beautify_on_save: true
    executables:
      uncrustify:
        path: "/usr/local/bin/uncrustify"
    general:
      _analyticsUserId: "ff75f22d-0f11-44e0-bfa4-f099e50c4c45"
    go:
      beautify_on_save: true
    handlebars:
      end_with_newline: true
      indent_inner_html: true
      indent_size: 2
    haskell:
      beautify_on_save: true
    html:
      beautify_on_save: true
      end_with_newline: true
      indent_inner_html: true
    java:
      beautify_on_save: true
      configPath: "~/.atom/package-configs/atom-beautify/uncrustify.conf"
    js:
      beautify_on_save: true
      brace_style: "collapse-preserve-inline"
      end_with_comma: true
      end_with_newline: true
      jslint_happy: true
      space_after_anon_function: true
    json:
      beautify_on_save: true
    latex:
      always_look_for_split_brackets: true
    mustache:
      end_with_newline: true
      indent_inner_html: true
      indent_size: 2
    python:
      beautify_on_save: true
      sort_imports: true
    ruby:
      beautify_on_save: true
      indent_size: 2
    rust:
      beautify_on_save: true
    sass:
      beautify_on_save: true
    scss:
      beautify_on_save: true
      force_indentation: true
      indent_size: 2
      preserve_newlines: true
    xml:
      beautify_on_save: true
      end_with_newline: true
      indent_size: 2
      wrap_attributes_indent_size: 2
      wrap_line_length: 100
    yaml:
      disabled: true
  "autocomplete-xml": {}
  core:
    allowPendingPaneItems: false
    audioBeep: false
    closeEmptyWindows: false
    customFileTypes:
      "text.ignore": [
        ".dockerignore"
      ]
    destroyEmptyPanes: false
    disabledPackages: [
      "platformio-ide-terminal"
      "language-javascript-jsx"
      "jumpy"
    ]
    telemetryConsent: "limited"
  "easy-motion-redux":
    replaceCharacters: "ABCDEFGHIKLMNOPQRSTUVWXYZ"
  editor:
    fontSize: 10
    invisibles:
      cr: " "
      eol: " "
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "fcfc173e-a63a-4748-9980-b7be814d4740"
  "git-blame":
    columnWidth: 316
  "git-plus":
    experimental:
      diffBranches: true
      useSplitDiff: true
    general:
      splitPane: "Right"
  "go-plus":
    panel: {}
  "linter-eslint":
    eslintrcPath: "~/.atom/package-configs/linter-eslint/.eslintrc.yml"
    fixOnSave: true
    useGlobalEslint: true
  "linter-ui-default":
    panelHeight: 236
    showPanel: true
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "Folder"
      workingDirectory: "Active File"
    toggles:
      cursorBlink: false
      runInsertedText: false
      selectToCopy: false
  "split-diff":
    ignoreWhitespace: true
    syncHorizontalScroll: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    hideVcsIgnoredFiles: false
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
".c.source":
  editor:
    showInvisibles: true
    tabLength: 2
".cpp.source":
  editor:
    tabLength: 2
".css.scss.source":
  editor:
    tabLength: 2
".html.mustache.text":
  editor:
    tabLength: 2
".java.source":
  editor:
    showInvisibles: true
    tabLength: 2
".js.source":
  editor:
    showInvisibles: true
".ruby.source":
  editor:
    tabLength: 2
".sass.source":
  editor:
    tabLength: 2
".scala.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    showInvisibles: false
    tabLength: 2
".text.todo":
  editor:
    autoIndent: false
